<!DOCTYPE html>
<title>Geoffroy Blondel</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">
<div class="h-100">
  <div class="container-fluid" id="header">
    <h1 class="text-center">GEOFFROY BLONDEL - Developpeur Python</h1>
    <div class="row">
      <div class="col-6">
        N&eacute; le 12 Juillet 1991
      </div>
      <div class="col-6">
        <i class="fa fa-github"></i>
        <a href="https://github.com/blondelg/" target="_blank">
          https://github.com/blondelg/
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        14 rue de Bizerte, 75017, Paris
      </div>
      <div class="col-6">
        <i class="fa fa-stack-overflow"></i>
        <a href="https://stackoverflow.com/users/11905080/blondelg "target="_blank">
          https://stackoverflow.com/users/11905080/blondelg
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        +33 6 80 56 68 64
      </div>
      <div class="col-6">
        <i class="fa fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/geoffroy-blondel-5416b893/ "target="_blank">
          https://www.linkedin.com/in/geoffroy-blondel-5416b893/
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        Permis B
      </div>
      <div class="col-6">
        <i class="fa fa-paper-plane"></i>
        geoffroy.blondel@gmail.com
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <h2 class="text-center p-1">
      Exp&eacute;riences
    </h2>

    <div class="row">
      <div class="col-2 right-border">
        <h3>2020-12 -> Pr&eacute;sent</h3>
        <ul class="techno-tags">
          <li>Django REST - Angular</li>
          <li>GCP - CircleCI</li>
          <li>Docker - Kubernetes</li>
          <li>Git - Github</li>
          <li>Podio - Globiflow</li>
        </ul>
      </div>
      <div class="col-10">
        <h3>MeilleureCopro - Lead D&eacute;veloppeur Python / Paris - France</h3>
        <ul>
          <li>
            D&eacute;veloppement et int&eacute;gration des &eacute;volutions
            sur les diff&eacute;rentes briques techniques
            (application (front et back), sites web, CRM, APIs)
          </li>
          <li>
            Maintiens et &eacute;volution de la couverture en tests unitaires
          </li>
          <li>
            Support sur les diff&eacute;rentes briques techniques, d&eacute;veloppement et int&eacute;gration de correctifs
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-2 right-border">
        <h3>2020-10 -> 2020-12</h3>
        <ul class="techno-tags">
          <li>SQL - AS400</li>
          <li>VBA - Git</li>
        </ul>
      </div>
      <div class="col-10">
        <h3>Le Conservateur - Data Manager / Paris - France</h3>
        <ul>
          <li>
            D&eacute;veloppement et passage de scripts correctifs
          </li>
          <li>
            Automatisation de processus en VBA
          </li>
          <li>
            Documentation
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-2 right-border">
        <h3>2020-06 -> 2020-09</h3>
        <ul class="techno-tags">
          <li>Django - Django-oscar</li>
          <li>Git - Github</li>
          <li>AWS - Wagtail</li>
        </ul>
      </div>
      <div class="col-10">
        <h3>POC entreprenarial - D&eacute;veloppement d'un site de ecommerce</h3>
        <ul>
          <li>
            Site bas&eacute; sur Django et sur la biblioth&egrave;que Django-oscar
          </li>
          <li>
            Gestion de contenu via le CMS Wagtail
          </li>
          <li>
            D&eacute;pot : <a href="https://github.com/blondelg/ecommerce">https://github.com/blondelg/ecommerce</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-2 right-border">
        <h3>2019-05 -> 2020-04</h3>
        <ul class="techno-tags">
          <li>Python - Tkinter</li>
          <li>Git - Bitbucket</li>
          <li>Pandas - Matplotlib</li>
          <li>Linux - AWS</li>
        </ul>
      </div>
      <div class="col-10">
        <h3>Home Delivery Services - Developpeur Python / Melbourne - Australie</h3>
        <ul>
          <li>
            D&eacute;veloppement des &eacute;volutions portant sur le logiciel produisant les donn&eacute;es pour le processus de facturation et de gestion des erreurs
          </li>
          <li>
            Param&eacute;trage d'un serveur h&eacute;bergeant les processus de contr&ocirc;le automatique
          </li>
          <li>
            Mise en place de reportings automatiques
          </li>
          <li>
            Analyse de donn&eacute;es
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>lalalalal</footer>
